
# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE
.vscode/
# Airflow
airflow_home/
airflow_venv/

# Local config / scripts
config.py
run_airflow.ps1
5
airflow_venv/
# Local config / secrets
phase4/python/config.py

# Local / raw data
phase4/python/data/

# Airflow virtual envs
phase4/airflow/venv/
airflow_venv/

# Optional: ignore logs (if you don't want them in GitHub)
phase4/logs/
phase5/logs/
# Local config / secrets
phase4/python/config.py

# Local / raw data
phase4/python/data/

# Airflow virtual environments
phase4/airflow/venv/
airflow_venv/
# Airflow virtual environment


 # Phase 1 raw CSV files
phase1/csv/
bash: phase1/csv/: Is a directory

